body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}
.container {
  margin-top: 100px;
}
.title {
  color: red;
  margin-bottom: 0.5cm;
}
.subtitle {
  font-size: 1em;
  color: white;
  margin-top: 0;
}